.btn {
  background-color: antiquewhite;
  color: black;
  width: 100px;
  height: 50px;
  border-radius: 6px;
}

.customBtn {
   padding: 5px 10px;
   background-color: black;
   color: white;
   height: 35px;
}

.Click {
  background-color: brown;
  color: white;
}

.TodoApp {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.completed {
  text-decoration: line-through;
}

